/* 

  

.submit {
    width: 400px; 
    padding: 20px;
    background-color: #f5f5f5; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  button {
    background-color: #00ff3c; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #00b351a7; 
  } */